.combo {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
}

.combo .combo-text {
    border: 0px;
    font-size: 12px;
    height: 20px;
    height: 20px;
    line-height: 20px;
    *line-height: 18px;
    margin: 0;
    *margin-top: -1px;
    padding: 0px 2px;
    vertical-align: baseline;
    _height: 18px;
    _line-height: 18px;
}

.combo-arrow {
    cursor: pointer;
    display: inline-block;
    filter: alpha(opacity=60);
    height: 20px;
    opacity: 0.6;
    overflow: hidden;
    vertical-align: top;
    width: 18px;
}

.combo-arrow-hover {
    filter: alpha(opacity=100);
    opacity: 1.0;
}

.combo-panel { overflow: auto; }

.combo-arrow { background: url('images/combo_arrow.png') no-repeat center center; }

.combo,
.combo-panel { background-color: #ffffff; }

.combo {
    background-color: #ffffff;
    border-color: #95B8E7;
}

.combo-arrow { background-color: #E0ECFF; }

.combo-arrow-hover { background-color: #eaf2ff; }