a.l-btn {
    background-position: right 0;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    outline: none;
    padding-right: 18px;
    text-decoration: none;
    zoom: 1;
}

a.l-btn-plain {
    border: 0;
    padding: 1px 6px 1px 1px;
    padding-right: 5px;
}

a.l-btn-disabled {
    color: #ccc;
    cursor: default;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

a.l-btn span.l-btn-left {
    background-position: 0 -48px;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 4px 0px 4px 18px;
}

a.l-btn-plain span.l-btn-left { padding-left: 5px; }

a.l-btn span span.l-btn-text {
    display: inline-block;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    width: auto;
}

a.l-btn span span.l-btn-icon-left {
    background-position: left center;
    padding: 0 0 0 20px;
}

a.l-btn span span.l-btn-icon-right {
    background-position: right center;
    padding: 0 20px 0 0;
}

a.l-btn span span span.l-btn-empty {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 16px;
}

a:hover.l-btn {
    background-position: right -24px;
    outline: none;
    text-decoration: none;
}

a:hover.l-btn span.l-btn-left { background-position: 0 bottom; }

a:hover.l-btn-plain { padding: 0 5px 0 0; }

a:hover.l-btn-disabled { background-position: right 0; }

a:hover.l-btn-disabled span.l-btn-left { background-position: 0 -48px; }

a.l-btn .l-btn-focus { outline: #0000FF dotted thin; }

a.l-btn {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    background-image: url('images/linkbutton_bg.png');
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 5px;
    color: #444;
}

a.l-btn span.l-btn-left {
    background-image: url('images/linkbutton_bg.png');
    background-repeat: no-repeat;
}

a.l-btn-plain,
a.l-btn-plain span.l-btn-left {
    background: transparent;
    border: 0;
    filter: none;
}

a:hover.l-btn-plain {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    background: #eaf2ff;
    border: 1px solid #b7d2ff;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
}

a.l-btn-disabled,
a:hover.l-btn-disabled {
    color: #444;
    filter: alpha(opacity=50);
}

a.l-btn-plain-disabled,
a:hover.l-btn-plain-disabled {
    background: transparent;
    filter: alpha(opacity=50);
}

a.l-btn-selected,
a:hover.l-btn-selected { background-position: right -24px; }

a.l-btn-selected span.l-btn-left,
a:hover.l-btn-selected span.l-btn-left { background-position: 0 bottom; }

a.l-btn-plain-selected,
a:hover.l-btn-plain-selected { background: #ddd; }