.m-btn-downarrow {
    display: inline-block;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    width: 16px;
    _vertical-align: middle;
}

a.m-btn-active { background-position: bottom right; }

a.m-btn-active span.l-btn-left { background-position: bottom left; }

a.m-btn-plain-active {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    background: transparent;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    padding: 0 5px 0 0;
}

.m-btn-downarrow { background: url('images/menu_arrows.png') no-repeat 2px center; }

a.m-btn-plain-active {
    background-color: #eaf2ff;
    border-color: #b7d2ff;
    color: #000000;
}