.spinner {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
}

.spinner .spinner-text {
    border: 0px;
    font-size: 12px;
    height: 20px;
    height: 20px;
    line-height: 20px;
    *line-height: 18px;
    margin: 0;
    *margin-top: -1px;
    padding: 0 2px;
    vertical-align: baseline;
    _height: 18px;
    _line-height: 18px;
}

.spinner-arrow {
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    vertical-align: top;
}

.spinner-arrow-up,
.spinner-arrow-down {
    display: block;
    filter: alpha(opacity=60);
    font-size: 1px;
    height: 10px;
    opacity: 0.6;
    width: 18px;
}

.spinner-arrow-hover {
    filter: alpha(opacity=100);
    opacity: 1.0;
}

.spinner-arrow-up { background: url('images/spinner_arrows.png') no-repeat 1px center; }

.spinner-arrow-down { background: url('images/spinner_arrows.png') no-repeat -15px center; }

.spinner { border-color: #95B8E7; }

.spinner-arrow { background-color: #E0ECFF; }

.spinner-arrow-hover { background-color: #eaf2ff; }