.s-btn-downarrow {
    border-style: solid;
    border-width: 0;
    display: inline-block;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin: 0 0 0 4px;
    padding: 0 0 0 1px;
    width: 14px;
    _vertical-align: middle;
}

a.s-btn-active { background-position: bottom right; }

a.s-btn-active span.l-btn-left { background-position: bottom left; }

a.s-btn-plain-active {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    background: transparent;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    padding: 0 5px 0 0;
}

.s-btn-downarrow {
    background: url('images/menu_arrows.png') no-repeat 2px center;
    border-color: #aac5e7;
}

a:hover.l-btn .s-btn-downarrow,
a.s-btn-active .s-btn-downarrow,
a.s-btn-plain-active .s-btn-downarrow {
    background-position: 1px center;
    border-width: 0 0 0 1px;
    padding: 0;
}

a.s-btn-plain-active {
    background-color: #eaf2ff;
    border-color: #b7d2ff;
    color: #000000;
}