.validatebox-invalid {
    //background-color: #fff3f3;
    background-image: url('images/validatebox_warning.png');
    background-position: right center;
    background-repeat: no-repeat;
    //border-color: #ffa8a8;
    color: #000;
}